@import url("../styles/global.css");

main {
    width: 100vw;
    height: 100vh;

    display: flex;
}

section {
    width: 49.2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    border: 1px solid pink;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
}

.form-container > p {
    font-size: 16px;
    margin-top: 22px;
}

form {
    display: flex;
    flex-direction: column;

    gap: 20px;
    margin-top: 70px;
    border: 1px solid blue;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

img {
    width: 50.8%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

    object-fit: cover;
}

input {
    border: 1px solid black;
}